<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laboratorio04" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.EscrituraBDActivity"
            android:label="@string/title_activity_escritura_bd" >
        </activity>
        <activity
            android:name=".activities.LecturaBDActivity"
            android:label="@string/title_activity_lectura_bd" >
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activities.EscrituraPreferenciaActivity"
            android:label="@string/title_activity_escritura_preferencia" >
        </activity>
        <activity
            android:name=".activities.LeerPreferenciaActivity"
            android:label="@string/title_activity_leer_preferencia" >
        </activity>
    </application>

</manifest>
